<div style="margin:3%">
  <p>Ingrese los datos solicitados</p>
  <br />
  <mat-form-field style="width: 100%;">
    <input matInput placeholder="Nombre completo" type="text" [(ngModel)]="nuevoDoctor.nombreCompleto">
  </mat-form-field>
  <br />
  <mat-form-field style="width: 100%;">
    <input matInput placeholder="Especialidad" type="text" [(ngModel)]="nuevoDoctor.especialidad">
  </mat-form-field>
  <br />
  <mat-form-field style="width: 100%;">
    <input matInput placeholder="Numero Credencial" type="text" [(ngModel)]="nuevoDoctor.numeroCredencial">
  </mat-form-field>
  <br />
  <mat-form-field style="width: 100%;">
    <input matInput placeholder="Hospital Trabajo" type="text" [(ngModel)]="nuevoDoctor.hospitalTrabajo">
  </mat-form-field>
  <br />
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <button mat-raised-button color="primary" (click)="guardarNuevoDoctor()">Crear nuevo Doctor</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button color="warn" [mat-dialog-close] id="btnCancelarCrearDoctor">Cancelar</button>
    </mat-grid-tile>
  </mat-grid-list>


</div>
